# Swift Package Manager
/.build/
/release/
/Packages/
/.swiftpm/

# Xcode user and build data
/DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Editors
*.swp
*~
